<form action="/events/add" method="POST">
    <label for="name">Name: </label>
    <p></p>
    <input id="name" type="text" name="name"/>
    <p></p>
    <label for="date">Date: </label>
    <p></p>
    <input id="date" type="date" name="date"/>
    <p></p>
    <label for="time">Time: </label>
    <p></p>
    <input id="time" type="time" name="time"/>
    <p></p>
    <label for="location">Location: </label>
    <p></p>
    <input id="location" type="text" name="location"/>
    <p></p>
    <label for="description">Description: </label>
    <p></p>
    <input id="description" type="text" name="description"/>
    <p></p>
    <label for="tags">Tags: </label>
    <p></p>
    <input id="tags" type="text" name="tags"/>
    <button type="submit" value="check" name="btn">Submit</button>    
</form>