@import
url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
}

#form {
    text-align:center;
}

form {
    display:inline-block;
}

#event {
    position: relative;
    text-align:center;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
  }

#events {
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }

#hbe-header-login {
    text-align: center;
    margin-top: 20px;
}

#hbe-header-signup {
    text-align: center;
    margin-top: 20px;
}

#hbe-header-allevents {
    text-align: center;
    margin-top: 20px;
}

#hbe-header-logout {
    text-align: center;
}

#hbe-header-nli {
    text-align: center;
}

#welcome-div {
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    padding: 50px;
    border-radius: 10px;
}

#login-div {
    margin: auto;
    margin-top: 100px;
    border-style: solid;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

#signup-div {
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#login-header {
    text-align: center;
}

#signup-header {
    text-align: center;
}

#allevents-header {
    text-align: center;
}

#logout-msg {
    text-align: center;
}

#nli-msg {
    text-align: center;
}

#login-form-div {
    text-align: center;
}

#login-btn {
    margin-top: 20px;
}

.login-input-error {
    border: 1px solid red;
    border-radius: 2px;
}

.login-error-div {
    color: red;
    margin-top: 30px;
}

#signup-form-div {
    text-align: center;
}

#signup-link {
    margin-top: 30px;
    text-align: center;
}

#login-link {
    margin-top: 30px;
    text-align: center;
}

#log-back-link {
    margin-top: 30px;
    text-align: center;
}

#nli-link {
    margin-top: 30px;
    text-align: center;
}

.login-input {
    margin: 10px;
}

.signup-input {
    margin: 10px;
}

.dob-div {
    display: inline-block;
}

header {
    text-align: center;
}

nav {
    background: white;
    z-index: 10000;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 1em;
}

.login-error {
    text-align: center;
    color: red;
}

.signup-error {
    text-align: center;
    color: red;
}

#delete-act-btn {
    margin-top: 20px;
}

#delete-act-div {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

nav.a:hover > nav {
    color: blue;
}

a:visited:hover > nav {
    color: blue;
}

nav.a:visited {
    color: black;
    text-decoration: none;
}

.all-events-div {
    padding: 20px;
}

#top-of-event-page {
    text-align: center;
    margin-bottom: 20px;
}

#event-page-header {
    text-align: center;
    margin-top: 20px;
}

#event-info {
    margin: auto;
    text-align: center;
    border: solid;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#num-attending-div {
    text-align: center;
}

#join-event-form {
    margin-top: 30px;
    text-align: center;
}

#comment-form-div {
    text-align: center;
    margin-top: 30px;
}

.comment_info {
    margin-top: 3px;
    font-style: italic;
    font-size:small;
}

.comments {
    border-style: solid;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.comments > h3 {
    text-align: center;
}

#comments-list {
    list-style: none;
}

.single-comment-list {
    list-style-type: none;
    margin: 10px;
    border: solid;
    padding: 5px;
    border-radius: 10px;
    background-color: #ADD8E6;
}

.flex-container {
    display: flex;
    margin-bottom: 40px;
}

.flex-child {
    flex: 1;
    border: none;
}

.flex-child:first-child {
    margin-right: 20px;
}

#user-profile-div {
    text-align: center;
}

.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    margin-top: 300px;
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 67.5rem;
    height: 78rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(66.3rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(60.3rem / 7);
    height: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #167e56;
  }

  #eventadder{
      background-color: #f8f9fa;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 550px;
      width: 400px;
  }