@import
url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: 'Varela Round', sans-serif;
}

#hbe-header-login {
    text-align: center;
}

#hbe-header-signup {
    text-align: center;
}

#hbe-header-allevents {
    text-align: center;
}

#hbe-header-logout {
    text-align: center;
}

#hbe-header-nli {
    text-align: center;
}

#login-div {
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#signup-div {
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#login-header {
    text-align: center;
}

#signup-header {
    text-align: center;
}

#allevents-header {
    text-align: center;
}

#logout-msg {
    text-align: center;
}

#nli-msg {
    text-align: center;
}

#login-form-div {
    text-align: center;
}

#signup-form-div {
    text-align: center;
}

#signup-link {
    margin-top: 30px;
    text-align: center;
}

#login-link {
    margin-top: 30px;
    text-align: center;
}

#log-back-link {
    margin-top: 30px;
    text-align: center;
}

#nli-link {
    margin-top: 30px;
    text-align: center;
}

.login-input {
    margin: 10px;
}

.signup-input {
    margin: 10px;
}

header {
    text-align: center;
}

nav {
    background: white;
    z-index: 10000;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 1em;
}

.login-error {
    text-align: center;
    color: red;
}

.signup-error {
    text-align: center;
    color: red;
}

a {
    text-decoration: none;
}

a:visited:hover {
    color: blue;
}

a:visited {
    color: black;
    text-decoration: none;
}

.comment_info {
    font-style: italic;
}

.comments {
    border-style: solid;
}

#user-profile-div {
    text-align: center;
}