<h1 id="allevents-header">Activity Feed</h1>
<div class="justify-content-center text-center">
    <ul class="list-unstyled">
        {{#each activity}}
            <ul class="list-unstyled">
                <li>{{{str}}}</li>
                <li>{{{time}}}</li>
            </ul>
        {{/each}}
    </ul>
</div>