<h1 id="allevents-header">Activity Feed</h1>
<div class="justify-content-center text-center">
    <div class="list-group">
        {{#each activity}}
            <a href="{{{link}}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-center">
                    <h5 class="mb-1">{{{str}}}</h5>
                </div>
                <small>{{{time}}}</small>
            </a>
        {{/each}}
    </div>
</div>