<h1 id="hbe-header-signup">Hoboken Event Scheduler</h1>
<hr>
<div id="signup-div">
    <h2 id="signup-header">Sign Up</h2>
    <div id="signup-form-div">
        <form id="signup-form" method="POST" action="/signup">
            <label for="signup-firstname">First Name</label>
            <br>
            <input class="signup-input" id="signup-firstname" name="signup_firstname" type="text">
            <br>
            <label for="signup-lastname">Last Name</label>
            <br>
            <input class="signup-input" id="signup-lastname" name="signup_lastname" type="text">
            <br>
            <label for="signup-email">Email</label>
            <br>
            <input class="signup-input" id="signup-email" name="signup_email" type="email">
            <br>
            <p>Date of Birth</p>
            <div class="dob-div">
                <label for="signup-month">Month</label>
                <br>
                <select class="signup-input" id="signup-month" name="signup_month"></select>
                <br>
            </div>
            <div class="dob-div">
                <label for="signup-day">Day</label>
                <br>
                <select class="signup-input" id="signup-day" name="signup_day"></select>
                <br>
            </div>
            <div class="dob-div">
                <label for="signup-month">Year</label>
                <br>
                <select class="signup-input" id="signup-year" name="signup_year"></select>
                <br>
            </div>
            <br>
            <label for="signup-password">Password</label>
            <br>
            <input class="signup-input" id="signup-password" name="signup_password" type="password">
            <br>
            <label for="signup-password-confirm">Confirm Password</label>
            <br>
            <input class="signup-input" id="signup-password-confirm" name="signup_passwordconfirm" type="password">
            <br>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
    <div class="signup-error-div"></div>
    <div id="login-link">
        <a class="btn btn-light" href="/">Already registered? Click here!</a>
    </div>
</div>
{{#if error}}
<p class="signup-error">{{{error}}}</p>
{{/if}}